<!-- templates/instruments.html -->

{% extends "base.html" %}

{% block content %}    
<form action="#">
    <table class="table">      
    <thead>
    <tr>
        <th>Company Name</th>
        <th>JSE CODE</th>
        <th>Is Active</th>
    </tr>
    </thead>
    {%for instrument in instruments %}
        <tr>
            <td>{{instrument.company_name}}<td>
            <td>{{instrument.jse_code}}<td>
            <td>
            <label>
                <input type="checkbox" name="{{instrument.jse_code}}" id="{{instrument.jse_code}}" {%if instrument.is_active%} checked="checked" {%endif%}/>                                                    
                <span>Tracked</span>
            </label>
            <td>
        </tr>            
    {%endfor%}   
    <tfooter>       
        <tr>
            <td colspan="3">{{pagination.links}}</td>
        </tr>    
        <tr>
            <td>&nbsp;<td>
            <td>&nbsp;<td>
            <td><button class="btn right">Save</button></td>                                
        </tr>
    </tfooter>                       
    </table>                       
    </div>
    </form.
{% endblock %}