<!-- templates/subreddits.html -->

{% extends "base.html" %}

{% block content %}    
<form action="#">

    <table class="table">      
    <thead>
        <tr>
            <th>Subreddit name</th>        
            <th>Media</th>
            <th>Items</th>
            <th>Last updated</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    {%for r in reddits %}
        {%if r.value in rc%}
        <tr>
            <td>{{r.value}}</td>
            <td>{{r.key.name}}</td>
            <td>&nbsp;{{rc[r.value].count}}</td>
            <td>&nbsp;{{rc[r.value].last_updated}}</td>
            <td><button id="btn_refresh_content" name="btn_refresh_content" onclick="updateSubRedditContent('1', '{{r.value}}')" type="button" class="btn-small"><i class="material-icons left">file_download</i>Refresh</button></td>
        </tr>    
        {%else%}            
        <tr class="pink lighten-4">
            <td>{{r.value}}</td>
            <td>{{r.key.name}}</td>
            <td>&nbsp;0</td>
            <td>&nbsp;never</td>
            <td><button id="btn_refresh_content" name="btn_refresh_content" onclick="updateSubRedditContent('1','{{r.value}}')" type="button" class="btn-small"><i class="material-icons left">file_download</i>Refresh</button></td>
        </tr>    
        {%endif%}
        
    {%endfor%}       
    <tr>
        <td colspan="2">{{pagination.links}}</td>
    </tr>
    </table>                       
    </div>
    </form>
{% endblock %}