<!-- templates/subreddits.html -->

{% extends "base.html" %}

{% block content %}    
<form action="#">

    <table class="table">      
    <thead>
        <tr>
            <th>Subreddit name</th>        
            <th>Media</th>
        </tr>
    </thead>
    {%for r in reddits %}
        <tr>
            <td>{{r.value}}</td>
            <td>{{r.key.name}}</td>
        </tr>                
    {%endfor%}       
    <tr>
        <td colspan="2">{{pagination.links}}</td>
    </tr>
    </table>                       
    </div>
    </form>
{% endblock %}