<!-- templates/users.html -->

{% extends "base.html" %}

{% block content %}    
<form action="#">
    <table class="table">      
    <thead>
    <tr>
        <th>Email Address</th>
        <th>Confirmation_Code</th>        
        <th>Is Active</th>
        <th>Confirmed At</th>
        <th>Chat Id</th>
    </tr>
    </thead>
    {%for user in users %}
        <tr>
            <td>{{user.email}}<td>
            <td>{{user.confirmation_code}}<td>
            <td>{{user.is_active}}<td>
            <td>{{user.email_confirmed_at}}<td>
            <td>{{user.chat_id}}
        </tr>            
    {%endfor%}       
    </table>                       
    </div>
    </form.
{% endblock %}